* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  /* background-image: linear-gradient(
      rgba(231, 172, 255, 0.4),
      rgba(231, 172, 255, 0.4)
    ),
    url("bg.jpg"); */
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

.budget-container {
  /* background-color: rgba(231, 172, 255, 0.4); */
  padding: 20px;
  height: 700px;
  width: 1500px;
}

/* Budget Header */
.budget-header {
  display: flex;
  flex-direction: column;
}

.balance {
  align-self: center;
  margin-bottom: 30px;

  display: flex;
}

.balance .value p {
  font-size: 40px;
  color: rgb(248, 182, 0);
}

.balance p,
.account p {
  font-size: 20px;
  display: inline-block;
}

.account {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.income .title,
.income p {
  color: lawngreen;
}

.outcome .title,
.outcome p {
  color: tomato;
}

/* Budget Dashboard */
.budget-dashboard {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.income,
.expense,
#all {
  width: 30%;
}

h3 {
  margin-bottom: 15px;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 7px;
  text-align: center;
}

#income-tracker,
#expense-tracker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#income-tracker .input,
#expense-tracker .input {
  display: flex;
  flex-direction: column;
}

#income-tracker .input div,
#expense-tracker .input div {
  display: flex;
}

#income-tracker .input div input:first-child,
#expense-tracker .input div input:first-child {
  margin-right: 5px;
}

#income-tracker input,
#expense-tracker input {
  padding: 10px 15px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 5px;
  width: 50%;
}

input[type="submit"] {
  width: 100% !important;
  font-size: 20px !important;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.active {
  opacity: 1 !important;
}

.hide {
  visibility: hidden;
}

.list {
  padding: 10px;
  overflow: auto;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.65);
}

#income-tracker .list {
  color: lawngreen;
}

#expense-tracker .list {
  color: tomato;
}

#all .list {
  background-color: rgba(0, 0, 0, 0.65);
  height: 330px;
}

#all .list li.expense {
  color: tomato;
}

#all .list li.income {
  color: lawngreen;
}

#all .list li i.fa-edit {
  display: none;
}

.list li {
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px white solid;
  margin-bottom: 15px;
  padding: 5px;
}

.list li i {
  cursor: pointer;
  font-size: 20px;
}

.action i:last-child {
  margin-left: 10px;
}

/* canvas {
  border: 1px white solid;
} */
